# Telegram API Credentials
API_ID=26416419
API_HASH="c109c77f5823c847b1aeb7fbd4990cc4"
BOT_TOKEN=8751198385:AAGcodoO3LYUKEsmro1yzrjCEMxcIFH9pJc
# Owner Configuration
OWNER_ID=7072373613
# MongoDB Configuration
MONGO_URI=mongodb+srv://Axxa:Axxay@cluster0.veadsay.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
DB_NAME=usdt_bot
# API Configuration
API_KEY=089cc7b1a8a856ee1ffc41ab022595148dedbf999c77f33a
API_BASE_URL=http://195.35.21.153:3000/api
